pipeline/Generic_CreateIndFileForSnowFlake.json
{
	"name": "Generic_CreateIndFileForSnowFlake",
	"properties": {
		"activities": [
			{
				"name": "CheckFileIfFileExists",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.05:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Copy_Activity_Delimited_Dataset",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@pipeline().parameters.tgt_ind_Container",
								"type": "Expression"
							},
							"Delimiter": "\t",
							"file_path": {
								"value": "@pipeline().parameters.tgt_ind_path",
								"type": "Expression"
							},
							"file_name": {
								"value": "@pipeline().parameters.tgt_file_name",
								"type": "Expression"
							},
							"file_extension": {
								"value": "@pipeline().parameters.tsvExtension",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CheckFileIfFileExists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('CheckFileIfFileExists').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "TriggerFileNotExists",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.05:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "SnowFlakeTriggerNotExists",
									"type": "DataFlowReference",
									"parameters": {
										"DummyControlFolder": {
											"value": "'@{pipeline().parameters.src_ind_path}'",
											"type": "Expression"
										},
										"DummyControlFile": {
											"value": "'@{pipeline().parameters.src_file_name}'",
											"type": "Expression"
										},
										"tsvExtension": {
											"value": "'@{pipeline().parameters.tsvExtension}'",
											"type": "Expression"
										},
										"OutputFolder": {
											"value": "'@{pipeline().parameters.tgt_ind_path}'",
											"type": "Expression"
										},
										"OutputFile": {
											"value": "'@{pipeline().parameters.tgt_file_name}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"DummyCntl": {
											"Container": {
												"value": "@pipeline().parameters.src_ind_Container",
												"type": "Expression"
											},
											"Delimiter": "\t"
										},
										"Output": {
											"Container": {
												"value": "@pipeline().parameters.tgt_ind_Container",
												"type": "Expression"
											},
											"Delimiter": "\t"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "TriggerFileExists",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.05:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "SnowFlakeTriggerExists",
									"type": "DataFlowReference",
									"parameters": {
										"TriggerFileFolder": {
											"value": "'@{pipeline().parameters.tgt_ind_path}'",
											"type": "Expression"
										},
										"TriggerFileName": {
											"value": "'@{concat(pipeline().parameters.tgt_file_name,pipeline().parameters.tsvExtension)}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"source1": {
											"Container": {
												"value": "@pipeline().parameters.tgt_ind_Container",
												"type": "Expression"
											},
											"Delimiter": "\t"
										},
										"sink1": {
											"Container": {
												"value": "@pipeline().parameters.tgt_ind_Container",
												"type": "Expression"
											},
											"Delimiter": "\t"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"src_ind_Container": {
				"type": "string",
				"defaultValue": "ez-enterprise-eu"
			},
			"tgt_ind_Container": {
				"type": "string",
				"defaultValue": "ez-enterprise-eu"
			},
			"src_ind_path": {
				"type": "string",
				"defaultValue": "Scheduling/"
			},
			"tgt_ind_path": {
				"type": "string",
				"defaultValue": "TriggerFile/Snowflake/Outbound/"
			},
			"src_file_name": {
				"type": "string",
				"defaultValue": "SnowFlakeDummyCntl"
			},
			"tgt_file_name": {
				"type": "string",
				"defaultValue": "DimsSuccess.ind"
			},
			"tsvExtension": {
				"type": "string",
				"defaultValue": ".tsv"
			}
		},
		"folder": {
			"name": "Generic"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-07T14:15:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}