pipeline/harishvimal.json
{
	"name": "harishvimal",
	"properties": {
		"activities": [
			{
				"name": "lookupActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DelimitedText20",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "filterActivity",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "lookupActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookupActivity').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals('Harish',item().Name)",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}